<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/Yummy/base.css">
    <link href="{% static 'Yummy/home.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="#"/>
    <title> {% block title %} Yummy {% endblock %} </title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/album/">
    <link href="../../static/Yummy/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../static/Yummy/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/Yummy/dist/js/jquery.min.js"></script>
    <script src="{% static 'Yummy/dist/js/menu.js' %}?v={% now 'U' %}" type="text/javascript"></script>
    {% block extra_css %}
    {% endblock %}
</head>

<nav class="navbar navbar-expand-lg" style="background-color: #f0be6f;">
    <div class="container-fluid">
        <img src="{% static 'img/noodles.png' %}" style="width: 40px; height: 40px;">
        <a class="navbar-brand fs-1 fw-bolder" href="{% url 'home' %}">Yummy!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link fs-5 fw-light active" aria-current="page" href="{% url 'home' %}">Menu</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link fs-5 fw-light" href="{% url 'reserve' %}">Reservation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5 fw-light" href="{% url 'option' %}">Order</a>
                    </li>

                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link fs-5 fw-light" href="{% url 'new_dish' %}">Add New Dish</a>
                        </li>
                    {% endif %}

                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link fs-5 fw-light" href="{% url 'register_staff' %}">Register New Staff</a>
                        </li>
                    {% endif %}

                {% endif %}
            </ul>
            {% if not user.is_authenticated %}
                {# if not log in, show the register and login #}
                <div class="col-md-3 text-end">
                    <a href="{% url 'register' %}" id="id_nav_global_stream">
                        <button type="button" class="btn btn-outline-dark my-3">Register</button>
                    </a>
                    <a href="{% url 'login' %}" id="id_nav_follower_stream">
                        <button type="button" class="btn btn-outline-dark my-3">Login</button>
                    </a>
                </div>

            {% else %}
                <div class="col-md-3 text-end">
                    <a href="{% url 'profile' %}" id="id_nav_profile">
                        <button type="button"
                                class="btn btn-outline-dark my-3">{{ user.first_name }} {{ user.last_name }}</button>
                    </a>

                    <a href="{% url 'logout' %}" id="id_nav_follower_stream">
                        <button type="button" class="btn btn-outline-dark my-3">Logout</button>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>


<div class="posts" id="posts">
    {% block posts_header %}
    {% endblock %}
</div>

{% if messages %}
    {% for message in messages %}
    <div id="error_message" class="row justify-content-center">
        <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert" style="width: 80%">
            {{ message }}
        </div>
    </div>
    {% endfor %}
{% endif %}

{% if message %}
<div id="error_message" class="row justify-content-center">
    <div class="alert alert-error" role="alert" style="width: 80%">
        {{ message }}
    </div>
</div>
{% endif %}

<div class="content" id="content">
    {% block content %}
    {% endblock %}
</div>

<div class="container">
    <footer class="py-3 mt-4">
        <p class="text-center text-muted">&copy; 2023 Web Application Development @ Carnegie Mellon University</p>
    </footer>
</div>

</html>