{% extends "Yummy/menu.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="../../static/Yummy/reserve.css">
    <script>
        var totalCount = 0;
        var itemCounts = {};
        $(document).ready(function () {
            fetchOrderTotalPrice();

            // Handle clicks on plus sign buttons
            $(".plus-btn").click(function (e) {
                e.preventDefault(); // Prevent the default behavior (navigation)

                // Get the associated item ID
                var itemId = $(this).data('item');
                console.log("itemId:", itemId)

                // Increment the item count
                if (!itemCounts[itemId]) {
                    itemCounts[itemId] = 0;
                }
                itemCounts[itemId]++;

                // Update the total count
                totalCount++;

                // Update the text of the total count counter button
                $("#total-clicks-counter").text("Checkout: " + totalCount);

                // Send an AJAX request to the Django view
                $.ajax({
                    url: '{% url "add_food" %}',
                    method: 'POST',
                    data: {
                        food_id: itemId,
                        action: 'add',
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {
                        if (response.success) {
                            console.log("Food added successfully");
                            $("#total-price-counter").text("Total price: $" + response.total_price.toFixed(2));
                            updateQuantityDisplay(itemId, itemCounts[itemId]); // Add this line
                        } else {
                            console.log("An error occurred while adding the food");
                        }
                    },
                    error: function (response) {
                        console.log("An error occurred while adding the food");
                    }
                });
            });

            // Handle clicks on minus sign buttons
            $(".minus-btn").click(function (e) {
                e.preventDefault(); // Prevent the default behavior (navigation)

                // Get the associated item ID
                var itemId = $(this).data('item');

                // Check if the minus button is associated with an item that has a positive count
                if (itemCounts[itemId] && itemCounts[itemId] > 0) {
                    // Decrement the item count
                    itemCounts[itemId]--;

                    // Update the total count
                    totalCount--;

                    // Update the text of the total count counter button
                    $("#total-clicks-counter").text("Total count: " + totalCount);

                    // Send an AJAX request to the Django view
                    $.ajax({
                        url: '{% url "add_food" %}',
                        method: 'POST',
                        data: {
                            food_id: itemId,
                            action: 'remove',
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function (response) {
                            if (response.success) {
                                console.log("Food removed successfully");
                                $("#total-price-counter").text("Total price: $" + response.total_price.toFixed(2));
                                updateQuantityDisplay(itemId, itemCounts[itemId]); // Add this line
                            } else {
                                console.log("An error occurred while removing the food");
                            }
                        },
                        error: function (response) {
                            console.log("An error occurred while removing the food");
                        }
                    });
                }
            });

            $(".favorite-btn").click(function (e) {
                e.preventDefault(); // Prevent the default behavior (navigation)

                // Get the associated item ID and favorited status
                var itemId = $(this).data('item');
                var isFavorited = $(this).data('favorited');

                // Determine the appropriate action
                var action = isFavorited ? 'unfavorite' : 'favorite';
                var url = '{% url "favorite_food_action" %}';

                // Send an AJAX request to the Django view
                $.ajax({
                    url: url,
                    method: 'POST',
                    data: {
                        food_id: itemId,
                        action: action,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: (response) => {
                        // Toggle the favorited status and update the button text
                        isFavorited = !isFavorited;
                        $(this).data('favorited', isFavorited);
                        $(this).text(isFavorited ? 'Cancel' : 'Favorite');
                    },
                    error: (response) => {
                        console.log("An error occurred while updating the favorite status");
                    }
                });
            });
        });

        // In the success callback of the plus-btn AJAX request
        if (response.success) {
            console.log("Food added successfully");
            $("#total-price-counter").text("Total price: $" + response.total_price.toFixed(2));
            updateQuantityDisplay(itemId, itemCounts[itemId]); // Add this line
        } else {
            console.log("An error occurred while adding the food");
        }

        // In the success callback of the minus-btn AJAX request
        if (response.success) {
            console.log("Food removed successfully");
            $("#total-price-counter").text("Total price: $" + response.total_price.toFixed(2));
            updateQuantityDisplay(itemId, itemCounts[itemId]); // Add this line
        } else {
            console.log("An error occurred while removing the food");
        }

        function redirectToOptionPage() {
            window.location.href = '{% url "option" %}';
        }


    </script>
{% endblock %}


{% block posts_header %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">

                <div class="dish_pic">
                    <img id="id_user_picture" src="{% static  f.picture_dir %}" class="card shawdow-sm "
                         style="align-content: center; height: 18rem; width:18rem">
                </div>
                <br>

                <h1 class="fw-light">{{ f.name }}</h1>
                <p>
                    {% if f.is_vegetarian %}
                        &#x1F96C;
                    {% endif %}
                    {% if f.is_spicy %}
                        &#x1F336;&#xFE0F;
                    {% endif %}
                </p>
                <p class="lead">
                    {{ f.description }}
                </p>
                <p id="calories" class="lead fw-light">
                    Calories: {{ f.calories }}
                </p>
                <p id="price" class="lead fw-light-bolder fs-4">
                    ${{ f.price }}
                </p>
            </div>
        </div>

        <div>
            {% if user.is_authenticated %}
                <div class="btn-group">
                    <button type="button"
                            class="btn btn-large btn-outline-secondary favorite-btn"
                            data-item="{{ f.id }}"
                            data-favorited="{% if f.name in favorite_list %}true{% else %}false{% endif %}">
                        {% if f.name in favorite_list %}
                            Cancel
                        {% else %}
                            Favorite
                        {% endif %}
                    </button>

                    <button type="button"
                            class="btn btn-large btn-outline-secondary minus-btn"
                            data-item="{{ f.id }}">
                        <span class="minus_sign">&#10134;</span>
                    </button>

                    <button type="button"
                            class="btn btn-large btn-outline-secondary fw-bold item-btn"
                            data-item="{{ f.id }}">
                        <span class="quantity-display" data-item="{{ f.id }}">0</span>
                    </button>

                    <button type="button"
                            class="btn btn-large btn-outline-secondary plus-btn"
                            data-item="{{ f.id }}">
                        <span class="plus_sign">&#10133;</span>
                    </button>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="comments">
        {% if user.is_authenticated %}
            <div class="px-4 my-5 text-center col-lg-6 mx-auto">
                <form method="POST" class="form-control">
                    {% for field in comment_form.visible_fields %}
                        <div>
                            <label class="col-form-label">{{ field.label_tag }}</label>
                            <span>{{ field }}</span>
                        </div>
                    {% endfor %}
                    {% csrf_token %}
                    <button action="{% url 'reserve' %}" class="btn btn-secondary my-2 reserve" type="submit">Submit
                    </button>
                </form>
            </div>
        {% endif %}
        <br>
        <div id="comment_text" class="fs-5 font-weight-bold" style="color:Tomato">
            What did other people think about this dish:
        </div>
        <div id="comment_dish_user" class="px-4 my-5 text-center col-lg-6 mx-auto">
            <ul class="list-group">
                {% for comment in comments %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">{{ comment.text }}</div>
                            By {{ comment.creator.first_name }} {{ comment.creator.last_name }}
                        </div>
                        <span class="badge text-bg-light">{{ comment.creation_time }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

{% endblock %}