{% extends "Yummy/menu.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="../../static/Yummy/reserve.css">
    <script>
        var totalCount = 0;
        var itemCounts = {};
        $(document).ready(function () {
            fetchOrderTotalPrice();

            // Handle clicks on plus sign buttons
            $(".plus-btn").click(function (e) {
                e.preventDefault(); // Prevent the default behavior (navigation)

                // Get the associated item ID
                var itemId = $(this).data('item');
                console.log("itemId:", itemId)

                // Increment the item count
                if (!itemCounts[itemId]) {
                    itemCounts[itemId] = 0;
                }
                itemCounts[itemId]++;

                // Update the total count
                totalCount++;

                // Update the text of the total count counter button
                $("#total-clicks-counter").text("Checkout: " + totalCount);

                // Send an AJAX request to the Django view
                $.ajax({
                    url: '{% url "add_food" %}',
                    method: 'POST',
                    data: {
                        food_id: itemId,
                        action: 'add',
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {
                        if (response.success) {
                            console.log("Food added successfully");
                            $("#total-price-counter").text("Total price: $" + response.total_price.toFixed(2));
                            updateQuantityDisplay(itemId, itemCounts[itemId]); // Add this line
                        } else {
                            console.log("An error occurred while adding the food");
                        }
                    },
                    error: function (response) {
                        console.log("An error occurred while adding the food");
                    }
                });
            });

            // Handle clicks on minus sign buttons
            $(".minus-btn").click(function (e) {
                e.preventDefault(); // Prevent the default behavior (navigation)

                // Get the associated item ID
                var itemId = $(this).data('item');

                // Check if the minus button is associated with an item that has a positive count
                if (itemCounts[itemId] && itemCounts[itemId] > 0) {
                    // Decrement the item count
                    itemCounts[itemId]--;

                    // Update the total count
                    totalCount--;

                    // Update the text of the total count counter button
                    $("#total-clicks-counter").text("Total count: " + totalCount);

                    // Send an AJAX request to the Django view
                    $.ajax({
                        url: '{% url "add_food" %}',
                        method: 'POST',
                        data: {
                            food_id: itemId,
                            action: 'remove',
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function (response) {
                            if (response.success) {
                                console.log("Food removed successfully");
                                $("#total-price-counter").text("Total price: $" + response.total_price.toFixed(2));
                                updateQuantityDisplay(itemId, itemCounts[itemId]); // Add this line
                            } else {
                                console.log("An error occurred while removing the food");
                            }
                        },
                        error: function (response) {
                            console.log("An error occurred while removing the food");
                        }
                    });
                }
            });

            $(".favorite-btn").click(function (e) {
                e.preventDefault(); // Prevent the default behavior (navigation)

                // Get the associated item ID and favorited status
                var itemId = $(this).data('item');
                var isFavorited = $(this).data('favorited');

                // Determine the appropriate action
                var action = isFavorited ? 'unfavorite' : 'favorite';
                var url = '{% url "favorite_food_action" %}';

                // Send an AJAX request to the Django view
                $.ajax({
                    url: url,
                    method: 'POST',
                    data: {
                        food_id: itemId,
                        action: action,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: (response) => {
                        // Toggle the favorited status and update the button text
                        isFavorited = !isFavorited;
                        $(this).data('favorited', isFavorited);
                        $(this).text(isFavorited ? 'Cancel' : 'Favorite');
                        var count = response.num_ppl_fav
                        $("#num_ppl_fav").text(count + ' people also like this dish');
                    },
                    error: (response) => {
                        console.log("An error occurred while updating the favorite status");
                    }
                });
            });
        });

        // In the success callback of the plus-btn AJAX request
        if (response.success) {
            console.log("Food added successfully");
            $("#total-price-counter").text("Total price: $" + response.total_price.toFixed(2));
            updateQuantityDisplay(itemId, itemCounts[itemId]); // Add this line
        } else {
            console.log("An error occurred while adding the food");
        }

        // In the success callback of the minus-btn AJAX request
        if (response.success) {
            console.log("Food removed successfully");
            $("#total-price-counter").text("Total price: $" + response.total_price.toFixed(2));
            updateQuantityDisplay(itemId, itemCounts[itemId]); // Add this line
        } else {
            console.log("An error occurred while removing the food");
        }

        function redirectToOptionPage() {
            window.location.href = '{% url "option" %}';
        }


    </script>
{% endblock %}


{% block posts_header %}
    <script>
        // Add a new function to fetch and display comments
        function updateComments() {
            $.ajax({
                url: '{% url "get_comments" %}',
                method: 'GET',
                data: {
                    item_id: '{{ f.id }}',
                },
                success: function (response) {
                    var commentsList = $(".list-group").html('');

                    response.forEach(function (comment) {
                        var listItem = $('<li class="list-group-item d-flex justify-content-between align-items-start"></li>');
                        var commentDiv = $('<div class="ms-2 me-auto"></div>');
                        commentDiv.append('<div class="fw-bold">' + comment.text + '</div>');
                        commentDiv.append('By ' + comment.creator__first_name + ' ' + comment.creator__last_name);
                        listItem.append(commentDiv);
                        listItem.append('<span class="badge text-bg-light">' + comment.formatted_creation_time + '</span>');
                        commentsList.append(listItem);
                    });
                },
                error: function (response) {
                    console.log("An error occurred while fetching the comments");
                }
            });
        }

        // Call updateComments() every 5 seconds (5000 milliseconds)
        {#setInterval(updateComments, 5000);#}

        // Fetch and display comments when the page loads
        updateComments();

    </script>
    <div class="py-5 text-center container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="dish_pic">
                    <img id="id_user_picture" src="{% static  f.picture_dir %}" class="card shawdow-sm "
                         style="align-content: center; height: 18rem; width:18rem">
                </div>
                <br>

                <h1 class="fw-light">{{ f.name }}</h1>
                <p>
                    {% if f.is_vegetarian %}
                        &#x1F96C;
                    {% endif %}
                    {% if f.is_spicy %}
                        &#x1F336;&#xFE0F;
                    {% endif %}
                </p>
                <p class="lead">
                    {{ f.description }}
                </p>
                <p id="calories" class="lead fw-light">
                    Calories: {{ f.calories }}
                </p>
                <p id="price" class="lead fw-light-bolder fs-4">
                    ${{ f.price }}
                </p>

                <div>
                    {% if user.is_authenticated %}
                        <div class="btn-group">
                            <button type="button"
                                    class="btn btn-large btn-outline-secondary favorite-btn"
                                    data-item="{{ f.id }}"
                                    data-favorited="{% if f.name in favorite_list %}true{% else %}false{% endif %}">
                                {% if f.name in favorite_list %}
                                    Cancel
                                {% else %}
                                    Favorite
                                {% endif %}
                            </button>

                            <button type="button"
                                    class="btn btn-large btn-outline-secondary minus-btn"
                                    data-item="{{ f.id }}">
                                <span class="minus_sign">&#10134;</span>
                            </button>

                            <button type="button"
                                    class="btn btn-large btn-outline-secondary fw-bold item-btn"
                                    data-item="{{ f.id }}">
                                <span class="quantity-display" data-item="{{ f.id }}">0</span>
                            </button>

                            <button type="button"
                                    class="btn btn-large btn-outline-secondary plus-btn"
                                    data-item="{{ f.id }}">
                                <span class="plus_sign">&#10133;</span>
                            </button>
                        </div>
                        <br>
                        <p id="num_ppl_fav" class="lead fs-5">{{ count }} people also like this dish</p>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <section class="comments">
                    {% if user.is_authenticated %}
                        <form method="POST" class="form-control">
                            {% for field in comment_form.visible_fields %}
                                <div>
                                    <label class="col-form-label">{{ field.label_tag }}</label>
                                    <span>{{ field }}</span>
                                </div>
                            {% endfor %}
                            {% csrf_token %}
                            <button action="{% url 'reserve' %}" class="btn btn-secondary my-2 reserve" type="submit">
                                Submit
                            </button>
                        </form>
                    {% endif %}
                    <br>
                    <div id="comment_text" class="fs-5 fw-bold" style="color:#f0ad40f6;">
                        What did other people think about this dish:
                    </div>
                    <div id="comment_dish_user" class="px-4 my-5 text-center">
                        <ul class="list-group overflow-auto shadow" style="max-height:23vw;">
                            {% for comment in comments %}
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">{{ comment.text }}</div>
                                        By {{ comment.creator.first_name }} {{ comment.creator.last_name }}
                                    </div>
                                    <span class="badge text-bg-light">{{ comment.creation_time }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}