{% extends "Yummy/base.html" %}
{% load static %}

{% block extra_css %}
<base href="/">
<link rel="stylesheet" href="../../static/Yummy/base.css">
<link href="../../static/Yummy/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="../../static/Yummy/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}

{% block posts_header %}
<div class="px-4 py-5 my-5 text-center">
    <h1 id="id_page_title" class="fw-light">Edit dish {{ dish.name }}</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Update the dish information with the form below.</p>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="mx-auto col-10 col-md-10 col-lg-6">
    <img src="{% static picture_dir %}">
    <div class="form-group">
        <form method="post" action="{% url 'edit_dish' dish.id %}" enctype="multipart/form-data">
            {% for field in form %}
                {{ field.label_tag }} {{ field }}
            {% endfor %}
            <div class="d-flex justify-content-center">
                <button id="report-button" type="submit" class="btn btn-primary btn-lg px-4 gap-3">Submit</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}
