{% extends "Yummy/base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="../../static/Yummy/option.css">
{% endblock %}

{% block content %}

<script>
    function Openform() {
        document.getElementById("id_table_number_div").style.visibility = "visible";
    }

    $(document).ready(function (){
        $(".set-take-out").click(function (e) {
        // Get the associated order ID
          $.ajax({
            url: '/yummy/get_order_total_price',
            method: 'GET',
            success: function (response) {
                if (response.success) {
                    var orderId = response.order_id;
                    console.log("orderId:", orderId)
                    $.ajax({
                        url: '{% url "set_take_out" %}',
                        method: 'POST',
                        data: {
                            order_id: orderId,
                            action: 'take-out',
                            csrfmiddlewaretoken: '{{csrf_token}}'
                        },
                        success: function(response) {
                            if (response.success) {
                                window.location.href = 'summary';
                                console.log("Take out status changed")
                            } else {
                                console.log('Error occurred')
                            }
                        }
                    })
                }
            }
          });  
        })

        $("#id_table_number_form").submit(function (e) {
          e.preventDefault(); 
          var tableNumber = document.getElementById('id_table_number_input').value
          console.log('table number:', tableNumber)
          $.ajax({
            url: '/yummy/get_order_total_price',
            method: 'GET',
            success: function (response) {
                if (response.success) {
                    var orderId = response.order_id;
                    console.log("orderId:", orderId)
                    $.ajax({
                        url: '{% url "set_take_out" %}',
                        method: 'POST',
                        data: {
                            order_id: orderId,
                            action: 'dine-in',
                            // table_number: tableNumber,
                            csrfmiddlewaretoken: '{{csrf_token}}'
                        },
                        success: function(response) {
                            if (response.success) {
                                window.location.href = 'summary';
                                console.log("Take out status changed")
                            } else {
                                console.log('Error occurred')
                            }
                        }
                    })
                }
            }
          });  
        })
    })
</script>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Team 1 restaurant</h1>
            <p class="lead text-muted">
                Is this order take-out or dine in?
            </p>
            <p>
                <a class="btn btn-primary my-2 set-take-out">Take Out</a>
                <a class="btn btn-secondary my-2" onclick="Openform()">Dine In</a>
            </p>
        </div>
    </div>
</section>

<!-- if dine in button is clicked, show the form below to let user enter table number -->
<div id="id_table_number_div" class="form_1" style="visibility:hidden">
    <form id="id_table_number_form" method="post">
        <label class="lead text-muted">Please enter your table number if you are dining in:</label>
        <input id="id_table_number_input" type="text" name="table_number">
        <div>
            <button id="id_table_number_button" class="btn btn-secondary my-2">Submit</button>
        </div>

        {% csrf_token %}
    </form>
</div>



{% endblock %}