{% extends "Yummy/base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="../../static/Yummy/option.css">
{% endblock %}

{% block content %}

<script>
    function Openform() {
        document.getElementById("id_table_number_div").style.visibility = "visible";
    }

    $(document).ready(function (){
        $(".set-take-out").click(function (e) {
        // Get the associated order ID
          $.ajax({
            url: '/yummy/get_order_total_price',
            method: 'GET',
            success: function (response) {
                if (response.success) {
                    var orderId = response.order_id;
                    console.log("orderId:", orderId)
                    $.ajax({
                        url: '{% url "set_take_out" %}',
                        method: 'POST',
                        data: {
                            order_id: orderId,
                            action: 'take-out',
                            csrfmiddlewaretoken: '{{csrf_token}}'
                        },
                        success: function(response) {
                            if (response.success) {
                                window.location.href = 'yummy/summary';
                                console.log("Take out status changed")
                            } else {
                                console.log('Error occurred')
                            }
                        },
                        error: function(xhr, status, error) {
                            var responseText = JSON.parse(xhr.responseText)
                            if (responseText.error_message) {
                                error_message = document.getElementById('dine_in_message')
                                error_message.innerHTML = '<div class="row justify-content-center"><div class="alert alert-warning" role="alert" style="width: 60%">' + responseText.error_message + '</div></div>'
                            }
                        }
                    })
                }
            }
          });  
        })

        $("#id_table_number_form").submit(function (e) {
          e.preventDefault(); 
          var partySize = document.getElementById('party_size_input').value
          $.ajax({
            url: '/yummy/get_order_total_price',
            method: 'GET',
            success: function (response) {
                if (response.success) {
                    var orderId = response.order_id;
                    console.log("orderId:", orderId)
                    $.ajax({
                        url: '{% url "set_take_out" %}',
                        method: 'POST',
                        data: {
                            order_id: orderId,
                            action: 'dine-in',
                            party_size: partySize,
                            csrfmiddlewaretoken: '{{csrf_token}}'
                        },
                        success: function(response) {
                            if (response.success) {
                                window.location.href = 'yummy/summary';
                                console.log("Take out status changed")
                            } else {
                                console.log('Error occurred')
                            }
                        },
                        error: function(xhr, status, error) {
                            var responseText = JSON.parse(xhr.responseText)
                            if (responseText.error_message) {
                                error_message = document.getElementById('dine_in_message')
                                error_message.innerHTML = '<div class="row justify-content-center"><div class="alert alert-warning" role="alert" style="width: 60%">' + responseText.error_message + '</div></div>'
                            }
                        }
                    })


                }
            }
          });  
        })
    })
</script>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Team 1 restaurant</h1>
            <p class="lead text-muted">
                Is this order take-out or dine in?
            </p>
            <p>
                <a class="btn btn-primary my-2 set-take-out">Take Out</a>
                <a class="btn btn-secondary my-2" onclick="Openform()">Dine In</a>
            </p>
        </div>
    </div>
</section>

<div id="dine_in_message"></div>

<div id="id_table_number_div" class="form_1" style="visibility:hidden">
    <form id="id_table_number_form" method="POST">
        <label class="lead text-muted">Please enter your party size:</label>
        <input id="party_size_input" type="number" name="party_size" min="1" required>
        <p class="lead">If your party size is greater than 10 people, please enter 10 and reach out to our server.</p>
        <div>
            <button id="id_table_number_button" 
            class="btn btn-secondary my-2"
            action="{% url 'option' %}">Submit</button>
        </div>
        {% csrf_token %}
    </form>
</div>



{% endblock %}