{% extends "Yummy/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="../../static/Yummy/summary.css">
{% endblock %}



{% block content %}

<div class="py-5 text-center container">
    <h1 id="id_page_title" class="fw-light">Cart</h1>
    <p class="fs-5 fw-light-bolder">Your table number is: 5</p>
</div>

<table class="table table-striped align-middle text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Dish Name</th>
        <!-- <th scope="col">&nbsp;</th> -->
        <th scope="col">Quantity</th>
        <!-- <th scope="col">&nbsp;</th> -->
        <th scope="col">Price</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody class="table-group-divider fs-5">
      <tr>
        <th scope="row">1</th>
        <td>
            <img id="id_dish_picture_1" src="{% static 'img/Fried-pork-dumplings.jpg' %}"
            width="50px"
            style="align-content: center">
        </td>
        <td>Fried Pork Dumplings</td>
        <!-- <td><button type="button" class="btn btn-outline-dark"> - </button></td> -->
        <td><input class="quantity_input" type="number" placeholder="1"></td>
        <!-- <td><button type="button" class="btn btn-outline-dark"> + </button></td> -->
        <td>$10</td>
        <td><button type="button" class="btn btn-outline-dark"">Remove</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>
            <img id="id_dish_picture_1" src="{% static '/img/Scallion-pancakes.png' %}"
            width="100px"
            style="align-content: center">
        </td>
        <td>Scallion Pancakes</td>
        <!-- <td><button type="button" class="btn btn-outline-dark"> - </button></td> -->
        <td><input class="quantity_input" type="number" placeholder="1"></td>
        <!-- <td><button type="button" class="btn btn-outline-dark"> + </button></td> -->
        <td>$15</td>
        <td><button type="button" class="btn btn-outline-dark">Remove</button></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td colspan="3" class="fs-5 text-end">Tax(7%)</td>
        <td class="fs-5 text-center">$1.75</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td colspan="3" class="fs-5 text-end">Tip</td>
        <td class="fs-5 text-center">$5</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td colspan="3" class="fs-4 fw-bold text-end">Total</td>
        <td class="fs-4 fw-bold text-center">$31.75</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td colspan="4" class="fs-4 fw-bold text-end"></td>
        <td><button type="button" class="btn btn-dark btn-lg">Check out</button></td>
      </tr>
    </tbody>
  </table>


{% endblock %}