{% extends "Yummy/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="../../static/Yummy/summary.css">
{% endblock %}


{% block content %}
    <script>
        var totalCount = 0;
        var itemCounts = {};
        
        $(document).ready(function () {
            fetchOrderTotalPrice();

            // Handle clicks on plus sign buttons
            $(".plus-btn").click(function (e) {
                e.preventDefault(); // Prevent the default behavior (navigation)

                // Get the associated item ID
                var itemId = $(this).data('id')
                var orderId = $('#id_order_id').data('orderid')
                console.log('plus')
                console.log("Food Id:", itemId)
                console.log('Order id:', orderId)

                // Increment the item count
                if (!itemCounts[itemId]) {
                    itemCounts[itemId] = 0;
                }
                itemCounts[itemId]++;

                // Update the total count
                totalCount++;

                // Update the text of the total count counter button
                $("#total-clicks-counter").text("Checkout: " + totalCount);

                // Send an AJAX request to the Django view
                $.ajax({
                    url: '{% url "add_food" %}',
                    method: 'POST',
                    data: {
                        food_id: itemId,
                        action: 'add',
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {
                        if (response.success) {
                            console.log("Food added successfully");
                            var before_tax_sum = response.total_price
                            var tax = before_tax_sum * 0.07
                            var tips = before_tax_sum * 0.18
                            var order_total = before_tax_sum + tax + tips
                            console.log(order_total.toFixed(2))
                            $('#id_quantity_of_' + itemId).text(response.food_quantity);
                            $('#id_order_pretax_' + orderId).text(before_tax_sum.toFixed(2));
                            $('#id_order_tax_' + orderId).text(tax.toFixed(2));
                            $('#id_order_tips_' + orderId).text(tips.toFixed(2));
                            $('#id_order_total_' + orderId).text(order_total.toFixed(2));
                        } else {
                            console.log("An error occurred while adding the food");
                        }
                    },
                    error: function (response) {
                        console.log("An error occurred while adding the food");
                    }
                });
            });

            // Handle clicks on minus sign buttons
            $(".minus-btn").click(function (e) {
                e.preventDefault(); // Prevent the default behavior (navigation)

                // Get the associated item ID
                var itemId = $(this).data('id')
                var orderId = $('#id_order_id').data('orderid')
                console.log('minus')
                console.log('food id', itemId)
                console.log('Order id', orderId)

                // Check if the minus button is associated with an item that has a positive count
                if (itemCounts[itemId] && itemCounts[itemId] > 0) {
                    // Decrement the item count
                    itemCounts[itemId]--;

                    // Update the total count
                    totalCount--;

                    // Update the text of the total count counter button
                    $("#total-clicks-counter").text("Total count: " + totalCount);

                    // Send an AJAX request to the Django view
                    $.ajax({
                        url: '{% url "add_food" %}',
                        method: 'POST',
                        data: {
                            food_id: itemId,
                            action: 'remove',
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function (response) {
                            if (response.success) {
                                console.log("Food removed successfully");
                                var before_tax_sum = response.total_price
                                var tax = before_tax_sum * 0.07
                                var tips = before_tax_sum * 0.18
                                var order_total = before_tax_sum + tax + tips
                                console.log(order_total.toFixed(2))
                                $('#id_quantity_of_' + itemId).text(response.food_quantity);
                                $('#id_order_pretax_' + orderId).text(before_tax_sum.toFixed(2));
                                $('#id_order_tax_' + orderId).text(tax.toFixed(2));
                                $('#id_order_tips_' + orderId).text(tips.toFixed(2));
                                $('#id_order_total_' + orderId).text(order_total.toFixed(2));

                                // hide the row if quantity is 0
                                if (response.food_quantity <= 0) {
                                    $('#id_quantity_of_' + itemId).closest('tr').hide()
                                }
                            } else {
                                console.log("An error occurred while removing the food");
                            }
                        },
                        error: function (response) {
                            console.log("An error occurred while removing the food");
                        }
                    });
                }
            });

            $(".remove-btn").click(function (e) {
                e.preventDefault(); // Prevent the default behavior (navigation)

                // Get the associated item ID
                var itemId = $(this).data('id')
                var orderId = $('#id_order_id').data('orderid')
                console.log('Remove')
                console.log('food id', itemId)
                console.log('Order id', orderId)

                // Check if the minus button is associated with an item that has a positive count
                if (itemCounts[itemId] && itemCounts[itemId] > 0) {
                    // Update the total count
                    totalCount = totalCount - itemCounts[itemId];
                    var prev_quantity = itemCounts[itemId];

                    // set item count to 0
                    itemCounts[itemId] = 0;

                    // Update the text of the total count counter button
                    $("#total-clicks-counter").text("Total count: " + totalCount);

                    // Send an AJAX request to the Django view
                    $.ajax({
                        url: '{% url "add_food" %}',
                        method: 'POST',
                        data: {
                            food_id: itemId,
                            action: 'remove',
                            quantity: prev_quantity,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function (response) {
                            if (response.success) {
                                console.log("Food removed successfully");
                                //update order related amount
                                var before_tax_sum = response.total_price
                                var tax = before_tax_sum * 0.07
                                // var tips = before_tax_sum * 0.18
                                var order_total = before_tax_sum + tax + tips
                                console.log(order_total.toFixed(2))
                                $('#id_order_pretax_' + orderId).text(before_tax_sum.toFixed(2));
                                $('#id_order_tax_' + orderId).text(tax.toFixed(2));
                                // $('#id_order_tips_' + orderId).text(tips.toFixed(2));
                                $('#id_order_total_' + orderId).text(order_total.toFixed(2));

                                // delete the removed row of food
                                $('#id_quantity_of_' + itemId).closest('tr').hide()

                                // if the order is empty, should hide the checkout button
                                if (before_tax_sum == 0) {
                                    $('#check_out_button_row').hide()
                                }

                            } else {
                                console.log("An error occurred while removing the food");
                            }
                        },
                        error: function (response) {
                            console.log("An error occurred while removing the food");
                        }
                    });
                }
            });

            $('#tips_15').on('change', function(){
                var orderId = $('#id_order_id').data('orderid')
                var before_tax_sum = $('#id_order_pretax_' + orderId).data('pretax');
                var tax = before_tax_sum * 0.07
                var tips = before_tax_sum * 0.15
                if (this.checked) {
                    var order_total = Number(before_tax_sum) + Number(tax) + Number(tips)
                    $('#id_order_tips_' + orderId).text(tips.toFixed(2));
                    $('#id_order_total_' + orderId).text(Number(order_total).toFixed(2));
                }
            })

            $('#tips_18').on('change', function(){
                var orderId = $('#id_order_id').data('orderid')
                var before_tax_sum = $('#id_order_pretax_' + orderId).data('pretax');
                var tax = before_tax_sum * 0.07
                var tips = before_tax_sum * 0.18
                if (this.checked) {
                    var order_total = Number(before_tax_sum) + Number(tax) + Number(tips)
                    $('#id_order_tips_' + orderId).text(tips.toFixed(2));
                    $('#id_order_total_' + orderId).text(Number(order_total).toFixed(2));
                }
            })

            $('#tips_20').on('change', function(){
                var orderId = $('#id_order_id').data('orderid')
                var before_tax_sum = $('#id_order_pretax_' + orderId).data('pretax');
                var tax = before_tax_sum * 0.07;
                var tips = before_tax_sum * 0.2;
                if (this.checked) {
                    var order_total = Number(before_tax_sum) + Number(tax) + Number(tips)
                    console.log(order_total)
                    $('#id_order_tips_' + orderId).text(tips.toFixed(2));
                    $('#id_order_total_' + orderId).text(Number(order_total).toFixed(2));
                }
            })

            $('#tips_other').on('change', function(){
                var orderId = $('#id_order_id').data('orderid')
                var before_tax_sum = $('#id_order_pretax_' + orderId).data('pretax');
                var tax = before_tax_sum * 0.07;
                var tips = before_tax_sum * 0.2;
                if (this.checked) {
                    var order_total = Number(before_tax_sum) + Number(tax) + Number(tips)
                    console.log(order_total)
                    $('#id_order_tips_' + orderId).text(tips.toFixed(2));
                    $('#id_order_total_' + orderId).text(Number(order_total).toFixed(2));
                }
            })
                        
        });
    </script>


    <div class="py-5 text-center container">
        <h1 id="id_page_title" class="fw-light">Cart</h1>
        <p id="id_order_id" class="fs-5 fw-light-bolder" data-orderid="{{ order.id }}">Order Number: {{ order.id }}</p>
        {% if not order.is_takeout %}
            <p class="fs-5 fw-light-bolder">Your table number is: {{ table.id }}</p>
        {% else %}
            <p class="fs-5 fw-light-bolder">This is a take-out order</p>
        {% endif %}
    </div>

    <table class="table table-striped align-middle text-center">
        <thead class="fs-5">
        <tr>
            <th scope="col">#Dish</th>
            <th scope="col">Image</th>
            <th scope="col">Dish Name</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">Quantity</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">Unit Price</th>
            <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody class="table-group-divider fs-5">
        {% for foodset in food_set %}
            <tr>
                <th scope="row">{{ foodset.food.id }}</th>
                <td class="d-flex justify-content-between align-items-center">
                    <img src="{% static foodset.food.picture_dir %}" class="card shadow-sm"
                         style="align-content:center; width: 8vw; height: 8vw; object-fit: cover;">
                </td>
                <td>{{ foodset.food.name }}</td>
                <td>
                    <button type="button" class="btn btn-outline-dark minus-btn" data-id="{{ foodset.food.id }}"> -
                    </button>
                </td>
                <td><span id="id_quantity_of_{{ foodset.food.id }}" class="quantity_input"></span>{{ foodset.quantity }}</td>
                <td>
                    <button type="button" class="btn btn-outline-dark plus-btn" data-id="{{ foodset.food.id }}"> +
                    </button>
                </td>
                <td>{{ foodset.food.price }}</td>
                <td>
                    <button type="button" class="btn btn-outline-dark remove-btn" data-id="{{ foodset.food.id }}">
                        Remove
                    </button>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <th scope="row"></th>
            <td colspan="5" class="fs-5 text-end">Sum before tax and tips</td>
            <td id="id_order_pretax_{{ order.id }}" class="fs-5 text-center" data-pretax="{{ pretax }}">{{ pretax }}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td colspan="5" class="fs-5 text-end">Tax(7%)</td>
            <td id="id_order_tax_{{ order.id }}" class="fs-5 text-center">{{ tax }}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td colspan="4" class="fs-5 text-end">Tips</td>
            <td style="align-items:start;">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tips" value="15%" id="tips_15">
                    <label class="form-check-label" for="tips_15">15%</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tips" value="18%" id="tips_18" checked>
                    <label class="form-check-label" for="tips_18">18%</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tips" value="20%" id="tips_20">
                    <label class="form-check-label" for="tips_20">20%</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tips" value="other" id="tips_other">
                    <label class="form-check-label" for="tips_other">Other</label>
                </div>
            </td>
            <td id="id_order_tips_{{ order.id }}" class="fs-5 text-center">{{ tips }}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td colspan="5" class="fs-4 fw-bold text-end">Total</td>
            <td id="id_order_total_{{ order.id }}" class="fs-4 fw-bold text-center">{{ total }}</td>
            <td></td>
        </tr>
        {% if food_set %}
        <tr id="check_out_button_row">
            <th scope="row"></th>
            <td colspan="6" class="fs-4 fw-bold text-end"></td>
            
            <td>
                <a href="{% url 'checkout' %}">
                    <button type="button" class="btn btn-dark btn-lg">Check out</button>
                </a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>


{% endblock %}