{% extends "Yummy/base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}


{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 id="id_page_title" class="fw-light">Order Management System</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Welcome, {{ user.first_name }} {{ user.last_name }}</p>
    </div>

    <div class="accordion" id="accordionOrderManagement">
        {% for order in orders %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="d-flex w-100 justify-content-between align-items-start">
                                <div class="ms-6 me-auto">
                                    <div class="fw-bold">Order Number: {{ order.id }}</div>
                                    <p>Submitted Date & Time: {{ order.order_time }}</p>
                                </div>
                                <div class="ms-6 me-auto">
                                    Status: 
                                    {% if order.is_completed %}
                                    <span class="badge text-bg-success">Completed</span>
                                    {% else %}
                                        {% if order.is_paid %}
                                        <span class="badge text-bg-info">Paid</span>
                                        {% else %}
                                        <span class="badge text-bg-warning">Not Submit</span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse"
                     data-bs-parent="#accordionReservation">
                    <div class="accordion-body">
                        <div class="row" style="margin-bottom: 3%;">
                            <div class="col-md-4">Customer Name: {{ order.customer.first_name }} {{order.customer.last_name}}</div>
                            <div class="col-md-4">Phone: {{order.customer.profile.phone_number }}</div>
                            <div class="col-md-4">
                                {% if order.is_takeout %}
                                <span class="fw-bold">Take-out</span>
                                {% else %}
                                <span class="fw-bold">Dine-in @ Table {{order.order_table.table.id}}</span>
                                {% endif %}
                            </div>
                        </div>
                        <table class="table align-middle table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#Dish</th>
                                    <th scope="col">Dish Name</th>
                                    <th scope="col">Quantity</th>
                                </tr>
                            </thead>
                            <tbody class="justify-content-between">
                                {% for foodset in order.foods.all %}
                                <tr>
                                    <th scope="row">{{ foodset.food.id }}</th>
                                    <td>{{ foodset.food.name }}</td>
                                    <td><span id="id_quantity_of_{{ foodset.food.id }}" class="quantity_input">{{ foodset.quantity }}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>

                    {% if not order.is_completed %}
                    <form method="POST" action="{% url 'complete_order' order.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="order_id" value="{{order.id}}">
                        <button type="submit" class="btn btn-warning my-3"
                            id="complete_order_{{order.id}}">Complete Order</button>
                    </form>
                    {% endif %}
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}

