#id_login_link {
    color: #000000;
    position: absolute;
    right: 125px;
    top: 80px;
    font-size: 18px;
}

#id_register_button {
    /* background-color: white; */
    border-radius: 10px;
    font-size: 18px;
    margin: 4px 2px;
    width: 80px;
    height: 40px;
    margin: 0;
    position: absolute;
    top: 90%;
    left: 47%;
}

#id_register_button:active {
    background-color: red;
}

#id_register_link {
    color: #000000;
    position: absolute;
    right: 125px;
    top: 80px;
    font-size: 18px;
}


#id_site_name {
    color: #000000;
    position: absolute;
    left: 80px;
    top: 25px;
    font-weight: bold;
    font-size: 34px;
}


#id_login_button {
    /* background-color: white; */
    border-radius: 10px;
    font-size: 18px;
    margin: 4px 2px;
    width: 80px;
    height: 40px;
    margin: 0;
    position: absolute;
    top: 66%;
    left: 47%;
} 

#id_login_button:active {
    background-color: red;
}

label {
    font-size: 18px;
}


#id_page_name {
    text-align: center;
    margin: 40px auto;
    font-weight: bold;
    font-size: 22px;
}

#id_login_link {
    color: #000000;
    position: absolute;
    right: 125px;
    top: 80px;
    font-size: 18px;
}


#id_register_button:active {
    background-color: red;
}

.login_register_table {
    display: flex;
    justify-content: center;
    text-align: left;
}

a.title {
    color: #000000;
    position: absolute;
    font-weight: bold;
    font-size: 34px;
    text-decoration: none;
}