#id_header_div {
    width:98vw;
    height:100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#e69b22;
}
#id_site_name {
    color:#000000;
    position:absolute; 
    left:60px; 
    top:35px;
    font-weight: bold;
    font-size: 34px;
}
#id_page_name {
    text-align: center;
    margin: 40px auto;
    font-weight: bold;
    font-size: 22px;
}
#id_register_link {
    color:#000000;
    position:absolute; 
    right:125px; 
    top:80px;
    font-size: 18px;
}
#id_login_button {
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    margin: 4px 2px;
    width: 80px;
    height: 40px;
    margin: 0;
    position: absolute;
    top: 66%;
    left: 47%;
}
#id_login_button:active{
    background-color: red;
}
table{
    display:flex;
    justify-content: center;
    text-align: center;
}
label{
    font-size: 18px;
}
input{
    width: 120%;
    font-size: 18px;
    line-height: 30px;
}