#nav-tabContent {
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: left;
}

#id_profile_container {
    margin-left: 10vw;
    margin-right: 10vw;
}

.list-group {
    margin-left: 10vw;
    margin-right: 10vw;
}

