.reservation {
    margin-top: -80px;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
}

.step-title {
    font-size: 25px;
}

input {
    size: "20";
}

.dish {
    margin-top: -80px;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
}

.comments {
    margin-top: 30px;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
}

.dish_pic {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

button.reserve {
    height: 2.4em;
    width: 6em;
}

.hidden {
    display: none;
}

.reservation_form label {
    display: inline-block;
    width: 180px; /* adjust as needed */
    text-align: right;
    padding-right: 10px; /* add padding to space the label from the field */
}

.reservation_form input,
.reservation_form select,
.reservation_form textarea {
    display: inline-block;
    width: 250px; /* adjust as needed */
}